{% extends 'base.html'%}

{% block title %} О нас {% endblock%}

{% block mainContent %}
<div id="carouselExample" class="carousel slide" width="200">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <Hr>
        <p>
        <FONT COLOR="red">
        <H1 ALIGN="center">
            Отдых на любой вкус
        </H1>
        </FONT>
        </p>
        <img src="/static/image/8.jpg" class="d-block w-100 img_k" alt="...">
        <hr>
        <p>
        <h2 ALIGN="middle">
          На территории России сосредоточены уникальные природные ресурсы, объекты национального и исторического наследия.<br><br>
          В России 108 музеев-заповедников, 102 государственных природных заповедника,<br><br> 
          39 национальных парков и 68 заказников федерального значения.<br><br>
          По оценке Всемирной туристской организации, Россия может ежегодно принимать до 70 млн. туристов.<br><br>
        </h2> 
        </p>

      </div>
     
      
    </div>
    
</div>
{% endblock %}